/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/rpl-products.csv
/rpl-products.xml
/data/rpl_cache.sqlite
/output/
